@font-face{
	font-family: 'displayfont';
	src: url(fonts/slkscr.ttf) format('woff2');
}
.center{
    text-align: center;
} 
#slot1, #slot2, #slot3, #slot4{
    display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: 150px;
	width: 150px;
	height: 150px;
    border-style: inset;
    border-color: darkgray;
}
#play{
    width: 190px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 25px;
	background-color: #ff0000;
	color: #000000;
	font-size: 20px;
	font-family: fantasy;
}
.screen{
    width: 190px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 25px;
	background-color: #ff7300;
	color: #000000;
	font-size: 20px;
	font-family: fantasy;
}
.balance{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #000000;
	color: #eeff00;
	font-size: 15px;
    border-style: inset;
    height: 25px;
	font-family: displayfont;
}
.display{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #000000;
	color: #eeff00;
	font-size: 25px;
    border-style: inset;
	font-family: displayfont;
	height: 50px;
}

.machine{
	border-style: solid;
	border-color: #000000;
    border-radius: 50px;
	background-color: darkgray;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.c1{
    background-color: black;
}
.c2{
    background-color: white ;
}
.c3{
    background-color: green;
}
.c4{
    background-color: yellow;
}
input{
    height: 50px;
    background-color: #000000;
    color: #eeff00;
}
.tab{
    display: inline-block;
    margin: 40px;
}