.center{
    text-align: center;
}

table {
    margin: 100px auto;
  }
  
td {
    border: 4px solid #f86060;
    width: 250px;
    height: 250px;
  }
.c1{
    background-color: black;
}
.c2{
    background-color: white ;
}
.c3{
    background-color: green;
}
.c4{
    background-color: yellow;
}